# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tailwind.config.js
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!playwright.config.ts
!/e2e
!.prettierrc
!README.md
!eslint.config.js
!postcss.config.js
!.vscode/

# Ignore auto generated routeTree.gen.ts
/src/routeTree.gen.ts
